/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 700

.kalnia-glaze-<uniquifier> {
  font-family: "Kalnia Glaze", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */
html {
  color-scheme: light dark;
}

html:has(#mode-switcher [value="light"]:checked){
  color-scheme: light;
}

html:has(#mode-switcher [value="dark"]:checked){
  color-scheme: dark;
}

fieldset {
  width: max-content;
  margin: 3rem auto;
  font-size: 200%;
}

:root{
  /* =========== */
  --background-light-color : #F5F7F8;
  --background-dark-color: black;
  --inputbg-light-color:red;
  --inputbg-dark-color:white;
  --cell-light-color: #FFEFEF;
  --cell-dark-color: #C1D8C3;
  --gameboard-light-color:transparent;
  --gameboard-dark-color:transparent;
  --text-light-color:black;
  --text-dark-color:white;
  --cell-x-lightcolor:rgb(89, 89, 210);
  --cell-x-darkcolor:rgb(13, 1, 3);
  --cell-o-lightcolor:green;
  --cell-o-darkcolor:purple;
  --fanncy-font:"Kalnia Glaze", serif;
  --steady-font:Verdana, Geneva, Tahoma, sans-serif;
}




body{
  background-color: light-dark(var(--background-light-color),var(--background-dark-color));
  display: grid;
  height: 100%;
  grid-template-columns: 2fr 4fr 2fr;
  grid-template-rows: auto;
}

.container{
  grid-area: 1 / 2 / 2 / 3 ;
  margin: 0px auto;
  color: light-dark(var(--background-dark-color),var(--background-light-color));
}

.turn{
  text-align: center;
}

.boardfinish{
  display: grid;
  height: 500px;
  width: 500px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: none;
  gap: 2px;
  padding: 2px;
  background-color: transparent;
}

.board {
  display: grid;
  height: 500px;
  width: 500px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: none;
  gap: 2px;
  padding: 2px;
  background-color: light-dark(var(--gameboard-light-color),var(--gameboard-dark-color));
}

.cell{
  background-color: light-dark(var(--cell-light-color),var(--cell-dark-color));
}

.cell-x {
    background-color: lightblue; /* Background color for X */
    color:  light-dark(var(--cell-x-lightcolor),var(--cell-x-darkcolor)) ; /* Text color for X */
    font-size: 2rem;
    
}

.cell-o {
    background-color: lightcoral; /* Background color for O */
    color: light-dark(var(--cell-o-lightcolor),var(--cell-o-darkcolor));
    font-size: 2rem;
}

.playerInfoSession,
.inputSession{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: var(--fanncy-font);
  font-weight: 300;
  text-shadow: 1px 1px 1px rgb(160, 171, 221);
}

label{
    text-shadow: 1px 1px 3px rgb(252, 0, 8);
    font-size: 20px;
}

.inputSession{
  gap: 1.5rem;
}

input{
  height: 30px;
  padding: 5px;
  font-family: var(--steady-font);
  font-size: 20;
  font-weight: bold;
}

input:focus{
  border: 2px solid transparent;
  transition: all 0.1 ease;
  background: linear-gradient(#a4a1d3,#9896c7) 
            padding-box,
              linear-gradient(45deg,blue,red) border-box;
}

.inputSession[input]{
  font-family: var(--steady-font);
  color: light-dark(var(--inputbg-light-color),var(--inputbg-dark-color));

}

.playerInfoSession{
  gap: 20px;
}

.playerInfoSession h2{
  text-align: center;
  font-family: var(--steady-font);
}


.playerInfoSession .playerOneMarker,
.playerInfoSession .playerTwoMarker{
  font-family: var(--fanncy-font);
  font-weight: 400;
  font-size: 2rem;
}

/* CSS */
#resetButton,
#startButton {
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  margin: 20px auto;
}

#resetButton:not([disabled]):focus,
#startButton:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

#resetButton:not([disabled]):hover,
#startButton:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

