body{
  display: grid;
  height: 100%;
  grid-template-columns: 2fr 4fr 2fr;
  grid-template-rows: auto;
}

.container{
  grid-area: 1 / 2 / 2 / 3 ;
  margin: 0px auto;
}

.board {
  display: grid;
  height: 500px;
  width: 500px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: 1px solid black;
  gap: 2px;
  padding: 2px;
  background-color: yellow;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  border: 1px solid grey;
  background: lightyellow;
  cursor: pointer;
}